{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <div>
        <h1>Portfolio</h1>
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th>Symbol</th>
                        <th>name</th>
                        <th>Shares</th>
                        <th>Price</th>
                        <th>Total</th>
                    </tr>
                </thead>

                {% for row in holdings %}
                <tbody>
                    <td>{{ row["symbol"] }}</td>
                    <td>{{ row["name"] }}</td>
                    <td>{{ row["shares"] }}</td>
                    <td>{{ row["price"] }}</td>
                    <td>{{ row["total"] }}</td>
                </tbody>
                {% endfor %}
                <tfoot>
                    <tr>
                        <td colspan="3"></td>
                        <th>Cash</th>
                        <th>{{ cash }}</th>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                        <th>Total</th>
                        <th>{{ grand_total }}</th>
                    </tr>
                </tfoot>
            </table>

    </div>
{% endblock %}